<a href="https://colab.research.google.com/github/astha77-bot/Human-Retension-Project/blob/master/Human_retension_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from google.colab import files

In [4]:
uploaded=files.upload()

Saving hr_data.csv to hr_data.csv

In [5]:


for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "hr_data.csv" with length 509551 bytes

In [6]:
import io

In [9]:
df = pd.read_csv(io.StringIO(uploaded['hr_data.csv'].decode('utf-8')))

In [10]:
df

       employee_id  number_project  ...  department  salary
0             1003               2  ...       sales     low
1             1005               5  ...       sales  medium
2             1486               7  ...       sales  medium
3             1038               5  ...       sales     low
4             1057               2  ...       sales     low
...            ...             ...  ...         ...     ...
14994        87670               2  ...     support     low
14995        87673               2  ...     support     low
14996        87679               2  ...     support     low
14997        87681               6  ...     support     low
14998        87684               2  ...     support     low

[14999 rows x 9 columns]